--flash_mode dio --flash_freq 40m --flash_size 2MB 0x9000 ota_data_initial.bin 0x0000 bootloader/bootloader.bin 0xBF000 at_customize.bin 0xC0000 customized_partitions/factory_param.bin 0xC1000 customized_partitions/server_cert.bin 0xC3000 customized_partitions/server_key.bin 0xC5000 customized_partitions/server_ca.bin 0xC7000 customized_partitions/client_cert.bin 0xC9000 customized_partitions/client_key.bin 0xCB000 customized_partitions/client_ca.bin 0x10000 esp-at.bin 0x8000 partitions_at.bin
